VITE_STORAGE_MODE=walrus
VITE_APP_VERSION=0.12.3
VITE_WALRUS_STORAGE_MODE=publisher
VITE_WALRUS_NETWORK=mainnet
VITE_WALRUS_PUBLISHER_URL=https://publisher.walrus-mainnet.walrus.space
VITE_WALRUS_UPLOAD_RELAY_URL=https://upload-relay.mainnet.walrus.space
VITE_WALRUS_AGGREGATOR_URL=https://aggregator.walrus-mainnet.walrus.space
VITE_WALRUS_UPLOAD_RELAY_TIMEOUT_MS=90000
VITE_WALRUS_UPLOAD_RELAY_TIP_MAX=1000000
VITE_WALRUS_STORAGE_EPOCHS=5
VITE_DEEPSIGNAL_SUBMISSION_RELAY_URL=
VITE_DEEPSIGNAL_SUBMISSION_RELAY_MODE=full
VITE_WALRUS_ESTIMATE_BASE_WAL=0.012
VITE_WALRUS_ESTIMATE_WAL_PER_MB_EPOCH=0.0002
VITE_WALRUS_ESTIMATE_BASE_SUI=0.015
VITE_RELEASE_STORAGE_RESET_TOKEN=
VITE_ENABLE_MOCK_ADMIN=false
VITE_SEAL_MODE=mock
VITE_SEAL_PACKAGE_ID=
VITE_SEAL_KEY_SERVER_OBJECT_ID=
VITE_SEAL_AGGREGATOR_URL=
VITE_SEAL_SERVER_TYPE=independent
VITE_SUI_NETWORK=mainnet
VITE_ZKLOGIN_ENABLE=false
VITE_ZKLOGIN_GOOGLE_CLIENT_ID=
VITE_ZKLOGIN_REDIRECT_URI=
VITE_ZKLOGIN_SALT_SERVICE_URL=
VITE_ZKLOGIN_MAX_EPOCH_OFFSET=2
VITE_MEMWAL_ENABLED=false
VITE_MEMWAL_SERVER_URL=
VITE_MEMWAL_ACCOUNT_ID=
VITE_MEMWAL_DELEGATE_KEY=
VITE_MEMWAL_NAMESPACE_PREFIX=deepsignal
NEXT_PUBLIC_SUI_RPC_URL=https://sui-mainnet.gateway.tatum.io
NEXT_PUBLIC_TATUM_ENABLED=false
NEXT_PUBLIC_TATUM_STORAGE_ENABLED=false
VITE_TATUM_STORAGE_ENABLED=false
VITE_TATUM_STORAGE_BASE_URL=/api/tatum/storage
VITE_TATUM_STORAGE_API_URL=https://api.tatum.io
VITE_TATUM_STORAGE_UPLOAD_TIMEOUT_MS=120000
VITE_TATUM_STORAGE_POLL_INTERVAL_MS=2000
VITE_SUI_FULLNODE_URL=https://fullnode.mainnet.sui.io:443
VITE_RPC_URL=https://fullnode.mainnet.sui.io:443
VITE_WALFORM_PACKAGE_ID=
VITE_PACKAGE_ID=
VITE_REGISTRY_ID=
VITE_ADMIN_CAP_ID=
VITE_OWNER_CAP_ID=
TATUM_API_KEY=
